.page {
    height: 100%;
    font-size: 16px;
    line-height: 26px;
    font-family: "Poppins", "Mulish";
  }
  
  .page__body {
    min-width: 375px;
    min-height: 100%;
    margin: 0;
    color: $mine-shaft;
  }
  
  
  .page__wrapper {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-height: 100vh;
    background-color: $zircon;
    min-width: 375px;
    margin: 0 auto;
  }
  
  
//   @media (min-width: @tablet-width) {
//     .page__wrapper {
//       width: @tablet-width;
//     }
//   }
  
//   @media (min-width: @desktop-width) {
//     .page__wrapper {
//       width: @desktop-width;
//     }
//   }