<section class="features">
    <div class="features__wrapper">
        <h2 class="features__title">Features</h2>
        <p class="features__text">Few good reasons why you should use Anima Landing Page Ui Kit to make your own pages.</p>
        <div class="features__block">
            <div class="features__list">
                <div class="features__item card">
                    <h3>Fast building</h3>
                    <img src="img/building.svg" alt="logo building">
                    <p>Tailor Anima's Landing Page UI Kit to your unique style and brand with customisable components, in no time!</p>
                    <a href="#">Learn More</a>
                </div>
                <div class="features__item card">
                    <h3>Responsive Design</h3>
                    <img src="img/responsive.svg" alt="logo responsive">
                    <p>No need to worry about screen size. Anima's Landing Page UI Kit adapts to any screen size, from desktop to mobile.</p>
                    <a href="#">Learn More</a>
                </div>
                <div class="features__item card">
                    <h3>No Code Needed</h3>
                    <img src="img/function.svg" alt="logo function">
                    <p>Zero coding skills required, Anima's Landing Page UI Kit empowers you to create stunning landing pages with ease.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>