<section class="feedback">
    <div class="feedback__wrapper">
        <h2 class="feedback__title">Let’s get in touch!</h2>
        <div class="feedback__contact">
            <div class="feedback__phone">
                <img class="feedback__picture" src="img/phone.png" width="24" height="24"
                    alt="icon phone">
                <p>+012 345 6789</p>
            </div>
            <div class="feedback__email">
                <img class="feedback__picture" src="img/email.png" width="24" height="24"
                    alt="icon email">
                <p>Hello@animaapp.com</p>
            </div>
            <div class="fedback__social">
                <h3>Connect with us</h3>
                <div class="feedback-block__social">
                    <img src="img/social1.svg" width="32" height="32" alt="icon insagram">
                    <img src="img/social2.png" width="32" height="32" alt="icon social">
                    <img src="img/social3.png" width="32" height="32" alt="icon social">
                    <img src="img/social4.svg" width="32" height="32" alt="icon twiter">
                </div>
            </div>
            <div class="feedback__form">
                <form action="post">
                    <label for="name">
                        <input type="text" id="name">
                    </label>
                    <label for="email">
                        <input type="email" id="email">
                    </label>
                    <textarea name="feedback" id="feedback" cols="10" rows="10"></textarea>
                    <button class="fedback__button button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>