<header class="page-header">
  <div class="page-header__wrapper">
      <nav class="main-nav">
          <div class="main-nav__head-wrapper">
              <a href="index.html">
                  <picture>
                      <img class="main-nav__logo" src="img/logo.svg" width="179" height="32"
                          alt="Logo New Site">
                  </picture>
              </a>
          </div>
          <ul class="main-nav__list">
              <li class="main-nav__item">
                  <a>Contact</a>
              </li>
              <li class="main-nav__item">
                  <a>How it works</a>
              </li>
              <li class="main-nav__item">
                  <a>Get Started</a>
              </li>
          </ul>
      </nav>
  </div>
</header>