<section class="intro">
    <div class="intro__wrapper">
        <h2 class="intro__title">Create Engaging Landing Pages</h2>
        <p class="intro__text">We create beautiful landing pages in record time.</p>
        <button class="intro__button button">Get Started</button>
        <div class="intro__block">
            <picture>
                <img class="intro__picture" src="img/intro-mobile.png" width="320" height="320"
                    alt="Main picture">
            </picture>
        </div>
    </div>
</section>