<section class="metrics">
    <div class="metrics__wrapper">
        <h2 class="metrics__title">Our Metrics Tell the Story</h2>
        <p class="metrics__text">Our metrics component gives you the inside scoop on your success and helps you stay on top of your game in style.</p>
        <div class="metrics__block">
            <div class="metrics__list">
                <div class="metrics__item">
                    <h3 class="metrics-item__title">5000+</h3>
                    <p class="metrics-text">Website launched with Anima</p>
                </div>
                <div class="metrics__item">
                    <h3 class="metrics-item__title">40m+</h3>
                    <p class="metrics-text">Projects created with Anima</p>
                </div>
                <div class="metrics__item">
                    <h3 class="metrics-item__title">100k+</h3>
                    <p class="metrics-text">New users joined Anima</p></div>
                <div class="metrics__item">
                    <h3 class="metrics-item__title">700k+</h3>
                    <Teams class="metrics-text">Teams used Anima</p>
                </div>
            </div>
        </div>
    </div>
</section>