<section class="partners">
    <div class="partners__wrapper">
        <h2 class="partners-title visually-hidden">Partners</h2>
        <div class="partners__block">
            <ul class="partners__list">
                <li class="partners__item"><img src="img/airnbnb.svg" alt="logo airbnb"></li>
                <li class="partners__item"><img src="img/google.svg" alt="logo google"></li>
                <li class="partners__item"><img src="img/amazon.svg" alt="logo amazon"></li>
                <li class="partners__item"><img src="img/microsoft.svg" alt="logo microsoft"></li>
                <li class="partners__item"><img src="img/fedex.svg" alt="logo fedex"></li>
                <li class="partners__item"><img src="img/hubspot.svg" alt="logo hubspot"></li>
            </ul>
        </div>
    </div>
</section>