<section class="plan">
    <div class="plan__wrapper">
        <h2 class="plan__title">Pick Your Perfect Plan</h2>
        <p class="plan__text">Find the perfect plan for your business with our flexible pricing options.</p>
        <div class="plan__block">
            <div class="plan__list">
                <div class="plan__item card">
                    <h3>Free</h3>
                    <p>$0 / month</p>
                    <p>Best for Small Teams or Individuals.</p>
                    <ul>
                        <li>Write feature details here</li>
                        <li>Write feature details here</li>
                        <li>Write feature details here</li>
                    </ul>
                    <button class="plan__button button">Get Started</button>
                </div>
                <div class="plan__item card">
                    <h3>Professional</h3>
                    <p>$19 / month</p>
                    <p>Ideal for Growing Companies.</p>
                    <ul>
                        <li>Write feature details here</li>
                        <li>Write feature details here</li>
                        <li>Write feature details here</li>
                    </ul>
                    <button class="plan__button button">Get Started</button>
                </div>               <div class="plan__item card">
                    <h3>Enterprise</h3>
                    <p>$49 / month</p>
                    <p>Ultimate for Enterprise Solutions.</p>
                    <ul>
                        <li>Write feature details here</li>
                        <li>Write feature details here</li>
                        <li>Write feature details here</li>
                    </ul>
                    <button class="plan__button plan__button--primary button">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</section>