<section class="stories">
    <div class="stories__wrapper">
        <h2 class="stories__title">Real Stories from Satisfied Customers</h2>
        <p class="stories__text">See how our landing page ui kit is making an impact.</p>
        <div class="stories__block">
            <div class="stories__list">
                <div class="stories__item card">
                    <h3>Sarah K.</h3>
                    <img src="img/stories1.png" alt="photo stories 1">
                    <p>"I was looking for a way to streamline my design process and the Anima’s Landing Page UI Kit was a lifesaver! The intuitive design and ease of customisation have saved me hours of time and effort. Highly recommend!"</p>
                    <div></div>
                </div>
                <div class="stories__item card">
                    <h3>Michael L.</h3>
                    <img src="img/stories2.png" alt="photo stories 2">
                    <p>“The Landing Page UI Kit has been a game changer for my agency. The pre-designed components and templates have helped us deliver projects faster and with more consistency. Great job!"</p>
                    <div></div>
                </div>
                <div class="stories__item card">
                    <h3>Lauren M.</h3>
                    <img src="img/stories3.png" alt="photo stories 3">
                    <p>"Anima’s Landing Page UI Kit has become a staple in my design toolkit. Whether I'm working on a new project or need to make updates to an existing one, this kit has everything I need to get the job done quickly and efficiently."</p>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</section>