<section class="tagline">
    <div class="tagline__wrapper">
        <h2 class="tagline__title">Get Landing Page UI Kit Today!</h2>
        <div class="tagline__block tagline__block--priority">
            <picture>
                <img class="tagline__picture" src="img/tagline-mobile.png" width="320" height="320"
                    alt="Tagline picture">
            </picture>
        </div>
        <p class="tagline__text">Break the Figma limits and explore the endless possibilities with Anima.</p>
        <button class="tagline__button button">Get Started</button>
    </div>
</section>